$background-color: rgb(199, 250, 202);
$upvote-color: rgb(236, 236, 236);
$fonts: rgb(24, 99, 34);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

body {
  background-color: $background-color;
}

.section-body {
  width: 600px;
  margin: 0 auto;
  display: flex;
}

.section-top {
  background-color: #FFFFFF;
}

.header {
  display: flex;
  padding: 15px 0;
  margin-bottom: 10px;
  justify-content: space-between;

  &__options {
    font-size: 15px;
    border-radius: 5px;
    border: 1px $fonts solid;
    font-weight: bold;
    color: $fonts;
    &:focus {
      outline: none;
    }
  }


  &___navigation a{
    margin-right: 40px;
    color: $fonts;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    padding: 1px;
    border-radius: 3px;
    font-size: 15px;

    &:hover {
      border: 2px solid $fonts;
    }
  }
}

.post {
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  

  &__upvote {
    padding: 0 10px;
    font-size: 10px;
    background-color: $upvote-color;
    p {
      margin: 10px 0 0 0;
      width: 30px;
      text-align: center;
    }
  }
  &__content {
    padding-left: 10px;
    
    &-info {
      display: flex;
      padding-top: 10px;

      &-item {
        padding-right: 15px;
        font-size: 10px;
      }
    }

    &-title {
      padding: 10px 0;
      a {
        color: $fonts;
        text-decoration: none;
      }
    }

    &-comments {
      padding: 10px 0;
      a {
        text-decoration: none;
      }
    }

    &-image {
      width: 500px;
      text-align: center;
      img {
        max-width: 300px;
      }
    }

    &-comments {
      a {color: $fonts;}
    }
  }
}

.loader {
  padding-top: 300px;
  text-align: center;
}